html
{
	/*overflow-y: visible;*/
}

body
{
	margin: 0px;
	padding: 0px;
	background-image: url('../images/140.gif');
}

#main
{
	width: 800px;
	margin: auto;
	-moz-box-shadow: 0px 0px 25px #3B2D38;
	-webkit-box-shadow: 0px 0px 25px #3B2D38;
	box-shadow: 0px 0px 40px #3B2D38;
}



#b2dDiv
{
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 800px;
	height: 600px;
	background-image: url('../images/381.jpg');
	overflow: hidden;
}


