
body {
    margin: 0px;
    padding: 0px;
    background-image: url('../images/136.gif');
}

.container {
    height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#drumMachinediv {
    margin: 0px;
    padding: 0px;
    background-image: url('../images/innocence_middle.jpg');
    background-size: cover;
    background-position: center center;
    -moz-box-shadow: 0px 0px 25px #E8DDCB;
    -webkit-box-shadow: 0px 0px 25px #E8DDCB;
    box-shadow: 0px 0px 40px #E8DDCB;
}
